<!DOCTYPE html>
<html>

<head>
    <title>
        Ready To go Payment
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
</head>
<body class="bg-primary text-white">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="container">
            <a href="/" class="navbar-brand">
                <h3 class="d-inline align-middle">Ready 2 go</h3>
            </a>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>