<section class="py-5">
    <h1 class="display-3">
        OOPS !
    </h1>
    <p class="lead">
        Something went wrong !! dont worry your amount if deducted will be returned in 24 hours</p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>